body{
    margin: 0%
}
nav{
    background-color: #403F48;
}
h1 a{
    text-decoration: none;
    color: #e9e4e6;
    background-color: #403F48;
    font-weight: lighter;
}
h3 a{
    text-decoration: none;
    color: #e9e4e6;
    background-color: #403F48;
    font-weight: lighter;
}
footer {
    background-color: #403F48;
}
.socialIcons{
    display: flex;
    justify-content: right;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    color: #e9e4e6;
    margin: 10px;
}